<header class="jumbotron">
    <div class="container">
        Διαχείριση χρηστών για τη δράση <h1>{{users.0.Name}}</h1>
        <a href="/">index</a>
    </div>
</header>

<input type=hidden id="invitation-id" value="{{invitationId}}">
<input type=hidden id="user-list" value="{{userList}}">


<table class="table table-bordered">
    <thead>
        <th>Χρήστης</th>
        <th>Ρόλος</th>
        <th>Επιλογή</th>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{U_LoginName}}</a></td>
            <td>{{URT_Description}}</td>
            <td><input type="checkbox" name="user-role-id" value="{{ID}}"></td>
        </tr>
        {{/users}}
    </tbody>
</table>

<br>
<button type="button" id="delete-user" class="btn btn-danger btn-sm" >Διαγραφή επιλεγμένων</button></br>
<label class="radio-inline"><input type="radio" name="optradio" value="20">Διαχειριστής</label>
<label class="radio-inline"><input type="radio" name="optradio" checked value="50">Αξιολογητής</label>
<input type="text"  id="new-user-list">
<button type="button" id="new-user" class="btn btn-info btn-sm" >Προσθήκη</button>

<script src="/bootstrap-tagsinput.min.js"></script>
<script src="/typeahead.bundle.js"></script>
<script src="/user.js"></script>
<link href="/bootstrap-tagsinput.css" rel="stylesheet">
